*{
    margin: 0;
}

.full-page{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
}

.first{
    display: flex;
    width: 100%;
    height: 300px;
    background: #1F2937;
}


.first .left{
    flex: 1;
}
.first h4{
    color: #f9faf8;
    size: 24px;
    margin-top: 10px;
    margin-left: 70px;
}
.first h1{
    color: #f9faf8;
    margin-left: 70px;
    margin-top: 50px;
    width: 200px;
}
.first p{
    color: #e5e7eb;
    margin-left: 70px;
    width: 370px;
}
.first .sign-up-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3882f6;
    margin-left: 70px;
    color: #f9faf8;
    font-size: 13px;
    margin-top: 4px;
    width: 100px;
    height: 30px;
    border-radius: 4px;
}

.first .right{
    flex: 1;
}
.first .grey-square{
    display: flex;
    flex: 1 1 auto;
    width: 300px;
    height: 130px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    background: rgb(179, 178, 178);
    color: #f9faf8;
}
.first .one{
    margin-right: 15px;
    color: #e5e7e5;
    font-size: 18px;
    display: inline;
}
.first .two{
    margin-right: 15px;
    color: #e5e7e5;
    font-size: 18px;
    display: inline;
}
.first .three{
    color: #e5e7e5;
    font-size: 18px;
    display: inline;
}

.second{
    width: 100%;
    height: 250px;
    margin: 0;
    background-color: white;
    flex-direction: row;
    align-items: center;
}
.second h3{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.second .holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 25px;
}
.second .one{
    border: 3px solid #3882f6;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.second .two{
    border: 3px solid #3882f6;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.second .three{
    border: 3px solid #3882f6;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.second .four{
    border: 3px solid #3882f6;
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
.second .text-holder{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 5px;
    
}
.second .text-div{
    text-align: center;
    font-size: 10px;
    width: 85px;
    height: 40px;
}

.third{
    width: 100%;
    height: 250px;
    margin: 0;
    background-color: #E5E7EB;
}
.third .quote-block{
    color: #1f2937;
    width: 550px;
    height: 100px;
    font-size: 26px;
    display: block;
    margin-left: 200px;
    margin-top: 40px;
}
.third h4{
    margin-left: 580px;
    margin-top: 20px;
}

.fourth{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    margin: 0;
    background-color: white;
}
.fourth .blue-box{
    display: flex;
    width: 550px;
    height: 100px;
    background-color: #3882f6;
    border-radius: 7px;
    display: flex;
}
.blue-box .left{
    flex: 0 1 auto;
    width: 400px;
    height: 50px;
}
.blue-box .left h4{
    color: white;
    margin-left: 50px;
    margin-top: 30px;
    display: inline-block;
}
.blue-box .left p{
    color: white;
    font-size: 12px;
    margin-left: 50px;
    margin-top: 3px;
}
.blue-box .right{
    flex: 1;
    width: 50px;
    height: 50px;
}

.blue-box .right .sign-up-button{
    flex: 1;
    color: white;
    width: 80px;
    border: 2px solid white;
    border-radius: 7px;
    text-align: center;
    margin-top: 35px;
}

.fifth{
    width: 100%;
    height: 75px;
    margin: 0;
    background-color: #1F2937;
}

